
* {
    padding: 0;
    margin: 0;
} 

.container {
    min-width: 280px;
    max-width: 400px;
    margin: auto;
    margin-top: 5rem;
    text-align: center;
}

.form-image img {
    width: 100%;
    height: 280px;
    margin-bottom: 20px;
}

.form-input input {
    width: 220px;
    height: 25px;
    margin: 10px;
    padding-left: 10px;
    color: #808080;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #808080;
}

.form-input input:focus-visible {
    outline: #808080;
}

.enter-button button {
    width: 160px;
    height: 25px;
    text-align: center;
    margin: 5px;
    color: #FFFFFF;
    background-color: #312C74;
    border: none;
    border-radius: 10px;
}

.cad-button button {
    width: 120px;
    height: 20px;
    text-align: center;
    margin: 5px;
    color: #312C74;
    background-color: #FFFFFF;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #312C74;
}

.cad-button p {
    margin: 5px;
}