* {
  padding: 0;
  margin: 0;
} 

body {
  width: 100%;
  height: 100vh;
  background-color: #19162E;
}

.container {
width: 80%;
margin: auto;
margin-top: 7rem;
}

.grid {
padding: 1rem;
display: inline-block;
}

.form-text {
min-width: 280px;
max-width: 400px;
}

.form-text h3 {
color: #F3D303;
margin-bottom: 1rem;
font-size: 4rem;
}

.form-text p {
color: #FFFFFF;
margin-bottom: 0.5rem;
}

.form-image {
min-width: 32%;
max-width: 400px;
}

.form-image img {
width: 100%;
border: 2px solid #F3D303;
}